@charset "utf-8";
/* CSS Document */

body{

  line-height: 1.7em;
  font-size: 14px;
  background-color: #222124;
  background-color: #F4F1EA;

  border: 5px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 1.50); 
}

.Logo_line{
background: rgb(206,219,233); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.B1{
background: rgb(206,219,233); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: 5px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.7);
	padding:0 50px;

}

.C1{
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: 2px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
	padding:0 1px;

}

.con01{
font: bold;
	font-size:1.12em;
	text-shadow:#FFFFFF;
	volume:loud;

}

.con02{
font-size:0.93em;
	color:#9C9C9C;
	padding:0 10px;

}

.con03{
font-size:1.25em;
	color:#FF0000;
	padding:0 10px;
}

.account_desc{
	float:right;
}
.account_desc li{
	display:inline;
	border-left:1px dotted #CCC;
}


.account_desc li:first-child{
	border:none;
}
.account_desc li a{
	font-size:0.93em;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
}
.account_desc li a:hover{
	color:#E4292F;
}

.line_01{
background-color:#666666;
}

h1 {
font-size:2.00em;

background: rgb(206,219,233); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: 5px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.7);
	padding:0 50px;
}

.CAT_heder{
background: -moz-linear-gradient(top, #00CCFF  50%, #00FFFF 100%);
}

.CAT_heder_02{
font-size:1.2em;
	color:#9C9C9C;
	padding:0 10px;
}




.Futer{
font-size:0.93em;

	padding:0 10px;
}




div.img {
    margin: 3px;
    padding: 3px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
background: rgb(213,206,166); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(213,206,166,1) 0%, rgba(201,193,144,1) 48%, rgba(163,160,101,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 48%,rgba(163,160,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 48%,rgba(163,160,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#a3a065',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}	

.D1{
text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 10px;

 border: 3px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
	padding:0 5px;

}

div.img img {
    display: inline;
    margin: 5px;

background: -moz-linear-gradient(top, #00CCFF  50%, #00FFFF 100%);
 border: 3px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
	padding:0 3px;
}

div.img a:hover img {
    border: 2px solid #0000ff;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;

 border: 3px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.8);
	padding:0 2px;

}

h3 {
  margin: 3px;
    padding: 3px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
background: rgb(213,206,166); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(213,206,166,1) 0%, rgba(201,193,144,1) 48%, rgba(163,160,101,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 48%,rgba(163,160,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 48%,rgba(163,160,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#a3a065',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}	


.footer_02{

.account_desc{
	float:right;
}
.account_desc li{
	display:inline;
	border-left:1px dotted #CCC;
}


.account_desc li:first-child{
	border:none;
}
.account_desc li a{
	font-size:0.93em;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
}
.account_desc li a:hover{
	color:#E4292F;
}

}
